/*header*/
.headerpartage {
  display: flex;
  background-image: url(/img/img_Propose_a_Flight/hero.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 1200px;
  position: relative;
  z-index: -1;
}
.headerpartage::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d; /* Couleur semi-transparente noire */
}
/*header*/
/*Derniervolsajoutes*/
.bg_derniervols{

  background-color: var(--clr-7);
}
.tetetableau{
  justify-content: space-between;
  padding: 10px;
}
.derniervols{
  padding: 10px;
  background-color: var(--clr-3);
  color: var(--clr-4);
  border-radius: 20px;
}
.noir {
  background-color: #000000;
  justify-content: space-between;
  color: white;
  padding: 20px;
}
.gris{
  background-color: #bbbbbb;
  justify-content: space-between;
  padding: 20px;
  width: 70%;
}
.w{
  width: 400px;
}
.bgw{
  background-color: #ffffff;
  padding: 10px;
}
.bgw p{
  padding: 5px;
}

.bgbleu{
  background-color: var(--clr-7);
  padding: 10px;
}
/*Derniervolsajoutes*/