:root {
  font-family: "HelveticaNowDisplay", sans-serif;
  --clr-1: #bc7155;
  --clr-2: #151623;
  --clr-3: #000d10;
  --clr-4: #fff;
  --clr-5: #8e8e95;
  --clr-6: #8aadb2;
  --clr-7: #F0F0F0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex{
  display: flex;
}
.font30{
  font-size: 30px;
}
.font20{
  font-size: 20px;
}
.fontww {
  font-weight: 700;
  color: var(--clr-4);
}
.fontwb {
  font-weight: 700;
  color: var(--clr-2);
}
.marge{
  margin: 0 auto;
}
.space{
  justify-content: space-between;
}
.w1440{
  max-width: 1440px;
}