.ContacterHyer {
  margin: 0 auto;
}
.Contact_L {
  width: 40vw;
  display: flex;
}
.Contact_R {
  display: flex;
  flex-wrap: wrap;
}
.sec_Contact_card {
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 40vw;
}
.sec_Contact_cardP1 {
  font-weight: 600;
  margin-bottom: 20px;
}
.sec_Contact_cardP2 {
  margin-bottom: 50px;
}

.secContactsvg {
  border: 2px dashed rgb(75, 75, 75);
  border-bottom-right-radius: 30px;
  width: 130px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.secContactsvg svg {
  font-size: 50px;
  margin: 30px;
}
.Contact_img {
  width: 90%;
}
.Contact_img img {
  width: 40vw;
  justify-content: end;
}
.contact_hr {
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background-color: black;
}

/*contactez-nous*/

.ContactezNous {
  margin: 0 auto;
  width: 90%;
  display: flex;
}

.ContactezNous_title {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
}
form {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 120px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--clr-5);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: var(--clr-3);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  outline: none;
  border-color: #4caf50;
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="tel"]:valid,
textarea:valid {
  border-color: #4caf50;
}
