/*header*/

.loggoS {
  width: 40vw;
  min-width: 100px;
  margin-left: 50px;
  margin-top: 50px;
  height: 200px;
}
.loggoS svg {
  width: 150px;
}

.HeroContentS {
  margin-left: -350px;
  color: var(--clr-4);
}
.HeroPS {
  width: 300px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.HeroBtnS {
  color: var(--clr-4);
  border: #000;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.burgerS,
.burger_1S {
  margin-left: 100px;
  margin-top: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger_1S {
  color: var(--clr-5);
  width: 60px;
}

.lineS {
  width: 15px;
  height: 1px;
  background-color: var(--clr-5);
  margin: 2px 0;
}

.headerS {
  display: flex;
  background-image: url(/img/img_solutions/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 970px;
  position: relative;
  z-index: -1;
}
.headerS::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente noire */
}

.navS {
  margin-left: 50px; /*mq*/
  display: none;
  flex-wrap: wrap-reverse;
  gap: 20px;
}

li {
  margin-top: 60px;
  list-style: none;
  text-decoration: none;
  color: var(--clr-4);
}

h2 {
  margin-top: 500px;
  font-size: clamp(1vw, 50px, 30vw);
}

@media (max-width: 768px) {
  /*mobil*/
  .burgerS,
  .burger_1S {
    margin-left: -600px;
    display: block;
  }
  .burgerS {
    margin-top: -130px;
  }
  .burger_1S {
    margin-top: -160px;
  }
  .HeroContentS {
    margin-left: -130px;
    margin-top: -220px;
  }
  .HeroContentS h2 {
    font-size: 30px;
  }
  .HeroPS {
    font-size: 18px;
    margin-bottom: 0;
  }
  .HeroBtnS {
    margin-right: 10px;
  }
  .HeroContentS br {
    display: none;
  }
  .headerS {
    height: 550px;
  }
}

@media (min-width: 768px) {
  /*tab*/

  .navS {
    display: block;
    display: flex;
    color: var(--clr-3);
    list-style: none;
    text-decoration: none;
  }
  .burgercontainerS {
    display: flex;
  }
  .HeroContentS {
    margin-top: -250px;
  }
  .headerS {
    height: 600px;
  }
}

.solutionsurdemande {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}
.solutionsurdemande_title {
  /* display: flex; */
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
.solutionsurdemande_titleP1 {
  width: 300px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
}
.solutionsurdemande_titleP2 {
  width: 90%;
  justify-content: end;
}
.solutionsurdemande_charte {
  /* display: flex; */
  width: 300px;
  margin: 0 auto;
}
.solutionsurdemande_content {
  margin-bottom: 100px;
}
.solutionsurdemande_content img {
  overflow: hidden;
  width: 300px;
  height: 425px;
  object-fit: cover;
  object-position: center;
  /* clip-path: inset(0 7% 0 7%); */
  margin-left: -5px;
}

.solutionsurdemande_contentP1{
  margin-top: 10px;
  font-size: 25px;
  font-weight: 600;
}
.solutionsurdemande_contentP2{
  width: 250px;
  color: var(--clr-5);

}

.solution_hr {
  background-color: var(--clr-3);
  height: 1px;
  margin-bottom: 30px;
}
.solution_hr_end {
  background-color: var(--clr-3);
  height: 1px;
  margin-bottom: 100px;
}
@media (max-width:768px) {
  .solutionsurdemande_charte{
    margin: 0 auto;
    margin-left: 40px;}
  .solutionsurdemande_content img {
    
    overflow: hidden;
    width: 600px;
    height: 425px;
    object-fit: cover;
    object-position: center;
    /* clip-path: inset(0 7% 0 7%); */
    
  }
}
@media (min-width:768px) {
  .solutionsurdemande_title{
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
  .solutionsurdemande_titleP2{
    width: 500px;
  }
  .solutionsurdemande_charte{
    margin: 0 auto;
    margin-left: 40px;
    display: flex;
  }
    .solutionsurdemande_content {
      padding: 20px;
    }
  .solutionsurdemande_content img {
    
    overflow: hidden;
    width: 400px;
    height: 425px;
    object-fit: cover;
    object-position: center;
    /* clip-path: inset(0 7% 0 7%); */
    
  }
  .headerS, .headerS::before{
    border-bottom-right-radius:120px ;
    height: 900px;
  }
}