/*header*/

.loggoon {
  width: 40vw;
  min-width: 100px;
  margin-left: 50px;
  margin-top: 50px;
  height: 200px;
}
.loggoon svg {
  width: 150px;
}

.HeroContenton {
  margin: 0 auto;
  color: var(--clr-4);
  justify-content: center;
  text-align: center;
}
.HeroPon {
  width: 300px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 600px;
}
.HeroPon2 {
  font-size: 30px;
  font-weight: 600;
}

.HeroBtnon {
  color: var(--clr-4);
  border: #000;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.burgeron,
.burger_1on {
  margin-left: 100px;
  margin-top: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger_1on {
  color: var(--clr-5);
  width: 60px;
}

.lineon {
  width: 15px;
  height: 1px;
  background-color: var(--clr-5);
  margin: 2px 0;
}

.headeron {
  display: flex;
  background-image: url(/img/img_ondemande/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* height: 1200px; */
  position: relative;
  z-index: -1;
}
.headeron::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Couleur semi-transparente noire */
}

.navon {
  margin-left: 50px; /*mq*/
  display: none;
  flex-wrap: wrap-reverse;
  gap: 20px;
}

li {
  margin-top: 60px;
  list-style: none;
  text-decoration: none;
  color: var(--clr-4);
}

@media (max-width: 768px) {
  /*mobil*/
  .burgeron,
  .burger_1on {
    margin-left: -600px;
    display: block;
  }
  .burgeron {
    margin-top: -130px;
  }
  .burger_1on {
    margin-top: -160px;
  }
  .HeroContenton {
    margin-left: -130px;
    margin-top: -220px;
  }
  .HeroContenton h2 {
    font-size: 30px;
  }
  .HeroPon {
    font-size: 18px;
    margin-bottom: 0;
  }
  .HeroBtnon {
    margin-right: 10px;
  }
  .HeroContenton br {
    display: none;
  }
  .headeron {
    height: 550px;
  }
}

@media (min-width: 768px) {
  /*tab*/

  .navon {
    display: block;
    display: flex;
    color: var(--clr-3);
    list-style: none;
    text-decoration: none;
  }
  .burgercontaineron {
    display: flex;
  }
  .HeroContenton {
    margin-top: -250px;
  }
  .headeron {
    height: 600px;
  }
  .headeron,
  .headeron::before {
    height: 900px;
  }
}

/*notreprogramme*/
.bg_notreprog {
  background-color: #f0f0f0;
  padding-bottom: 30px;
}
.notreprog1 {
  max-width: 1440px;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.notreprog1 p {
  font-size: 20px;
  font-weight: 600;
}
.notreprog2 {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}
@media (min-width: 321px) {
  .notreprog2 {
    display: flex;
    gap: 20px;
    justify-content: end;
  }
  .notreprogcard1 {
    width: 400px;
    margin: 20px;
  }
  .notreprog1 {
    width: 500px;
    justify-self: end;
  }
}
.notreprogcard1 {
  border-top: 1px solid #000;
}
.notrecard1p1 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.notrecard1p2 {
  margin-bottom: 10px;
  color: var(--clr-5);
}

/*soyez recompensé*/
.bg_soyezrecompense {
  margin: 0 auto;
  max-width: 1440px;
}
.soyezrecompense {
  margin: 30px auto;
  width: 80%;
  max-width: 1440px;
  text-align: center;
}

.soyezrecompense img {
  width: 100%;
}
.btnsoyezrecompense {
  margin: 30px auto;
  padding: 10px;
  border-radius: 25px;
  background-color: var(--clr-3);
  color: var(--clr-4);
}
@media (min-width: 321px) {
  .soyezrecompense {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    align-items: center;
  }
}
@media (min-width: 720px) {
}

/*experience heyer*/
.bg_expreiencehyeron {
  background-color: var(--clr-2);
  color: var(--clr-4);
  padding-top: 20px;
  margin: 0 auto;
}
.expOnTitle {
  font-size: 40px;
  margin: 0 auto;
  width: 90%;
}
.expOnTitle2 {
  margin: 0 auto;
  width: 90%;
  margin: 20px auto;
}
.expOncard1 {
  width: 300px;
  margin: 0 auto;
}
.expOncard1 img {
  width: 90px;
}
.expOncard1 :nth-child(2) {
  margin: 10px auto;
  font-size: 20px;
  font-weight: 600;
}
.expOncard1 :nth-child(3) {
  padding-bottom: 20px;
}
.center {
  display: flex;
  justify-content: center;
}
.btnexpreiencehyeron {
  margin: 30px auto;
  padding: 10px;
  border-radius: 25px;
  background-color: var(--clr-2);
  border-color: var(--clr-4);
  color: var(--clr-4);
}
.bgcarouselOn {
  background-color: var(--clr-2);
}
.bgcarouselOn img {
  margin: 0 auto;
  height: 250px;
  max-width: 1300px;
}
@media (min-width: 768px) {
  .bgcarouselOn img {
    height: 550px;
  }
  .expOncard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .expOncard1 {
    width: 450px;
    margin-right: 20px;
  }

  .expOnTitle2 {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .bg_soyezrecompense {
    display: flex;
  }
  .expOncard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
/* sur demande*/
.bg_surdemande {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}
.surdemandetitle {
  font-size: 30px;
  margin: 20px 0;
}
.surdemandecard {
  width: 300px;
  overflow: hidden;
}

.surdemandecard img {
  height: 400px;
}
.surdemandecard :nth-child(2) {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
}
.surdemandecard :nth-child(3) {
  color: var(--clr-5);
  margin: 20px 0;
}
@media (min-width: 769px) {
  .surdemandecard {
    width: 760px;
  }
  .bg_surdemande {
    margin: 0 auto;
    justify-content: center;
  }
  .surdemande {
    display: flex;
  }
}

.NosClientsApprecientOn {
  background-color: var(--clr-7);
  border-bottom-right-radius: 70px;
}
.NosClientsAppcontainer {
  width: 90%;
  max-width: 1440px;
}
.NosClientsApptitle {
  font-size: 50px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 30px;
}
.NosClientsAppbox {
  width: 280px;
  border-top: solid 1px #000;
  margin-right: 20px;
  margin-bottom: 30px;
}
.NosClientsAppbox :nth-child(1) {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 600;
}
.NosClientsAppbox :nth-child(2) {
  font-size: 20px;
  margin-top: 10px;
}

/*destination populaire */

/*covid-19*/
.covidcontainer {
  height: 200px;
}
.covidcard {
  width: 100%;
  /* height: 50px; */
  border-top: solid 1px #000;
  cursor: pointer;
}
.none {
  padding: 20px;
  display: none;
  margin-bottom: 20px;
}

.voirplus:hover ~ .none {
  display: block;
  padding-bottom: 0px;
}
.voirplus:hover ~ .block {
  display: none;
}

.voirplus {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
