/*aboutSection*/
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.about{
    margin-top: 20px;
    margin: 0 auto;
    background-color: var(--clr-6);
}
.about_container{
    margin: 0 auto;
    
    
}
.about_content{
    width: 40%;
    
}
.about_btn svg{
    width: 30px;
}
.about_img1 img{
    border-bottom-right-radius:50px ;
    width: 80%;
    
}

/*equipe fondatrice*/
.fondatrice_1{
    width: 40%;
}
.fondatrice_1 :nth-child(1){
    font-size: 30px;
    font-weight: 600;

}
.fondatrice_1 :nth-child(2){
    margin-top: 30px;
}
.fondatrice_2 img{
    width: 500px;
    margin: 20px;
}
.fondatrice_3 img{
    width: 500px;
    margin: 20px;
    border-bottom-right-radius:50px ;
}

/*pourquoi hyer*/
.about_card {
    
    justify-content: end;
}
.sec_5_card { 
    justify-content: center; 
    align-items: center;   
    padding: 20px;
    width: 400px;
}
.sec_5_card :nth-child(2){
    font-weight: 600;
    margin-bottom: 20px;
}

.sec5svg{
    border: 1px dashed rgb(98, 97, 97); 
    border-bottom-right-radius: 30px;
    width: 100px;
    margin-bottom: 20px;
} 
.sec5svg svg{
    font-size: 50px;
    margin: 20px;
}

/*avis client*/
.avis {
    width: 400px;
}

/*notre technologie*/
